body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header nav .logo{
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
}
a {
  color: white;
  float: left;
  /*color: #00B7FF;*/
}

header{
  background-color: #3C3564;
  height: 88px;
  width: 100%;
}

.buttons{
  padding: 26px;
}

.buttons button{
  background-color: #53497B;
  display: inline-block;
  float: right;
  margin-right: 20px;
  border: 2px;
  border-radius: 6px;
}

ul{
  float: left;
  padding: 0px;
}

ul li{
  float: left;
  list-style: none;
  margin: 30px 10px 10px 10px;

}
/*
.login{
  float: right;
}

.signup{
  float: left;
}*/
.search{
  padding: 26px;
  float: left;
}

.srch-btn{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1df98b+2,13db92+100 */
  background: #1df98b; /* Old browsers */
  background: -moz-linear-gradient(top, #1df98b 2%, #13db92 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1df98b 2%,#13db92 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1df98b 2%,#13db92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1df98b', endColorstr='#13db92',GradientType=0 ); /* IE6-9 */
  float: left;
  border: none;
}

input{
  float: left;
}
/*img{
  height: 50px;
  width: 50px;
  /*margin: 24px 10px -32px 27px;
}*/


.carousel{
  height: 500px;
}

.carousel .item{
  height: 500px;
}

.car{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

.projects-wrapper{
  border: 2px solid black;
  width: 100px;
}
