<h2> Create your own DIY !</h2>


<form method="" action="">
  <label for="title-input">Title</label>
  <input id="title-input" type="text"/>

  <label></label>
  <input />

  <label></label>
  <input />

  <label></label>
  <textarea></textarea>




  <button>Save DIY</button>
</form>
