<h2> Create your own DIY !</h2>


<div class="container">
  <form class="form" method="post" action="/diys" enctype="multipart/form-data">
    <div class="diy-summary well">
      <label for="title-input">Title</label>
      <input id="title-input" name="diyTitle" type="text"
        placeholder="How to Create a DIY"/>

      <label for="desc-input">Description</label>
      <textarea id="desc-input" name="diyDesc"></textarea>

      <label for="finalImg"> Image of Completed Project</label>
      <input id="finalImg" name="diyImg" type="file" />
    </div>
    <ol class="step-ol">
      <li class="step-form-li well">
        <label for="stitle">Title</label>
        <input id="stitle" name="stepTitle[]"
          placeholder="Click the 'Create-A-Diy' button"/>
        <br />

        <label for="simg">Upload a Photo</label>
        <input id="simg" name="stepImg" type="file"/>
        <br />

        <label for="sdesc">Description of Step</label>
        <textarea id="sdesc" name="stepDesc[]"
          placeholder="Go to iDiy homepage and log in to get started"></textarea>
        <br />
      </li>
    </ol>
    <button type="button" class="add-step"> Next Step </button>
    <button>Save DIY</button>
  </form>
</div>
