<h2> Login </h2>

<form id="form" action="/process-login" method="post">
  <label for="email-input">Email</label>
  <input id="email-input" name="loginEmail" type="email"
    placeholder="example@idiy.com"/>
  <br />
  <label for="password-input">Password</label>
  <input id="password-input" name="loginPassword" type="password"
    placeholder="*******"/>
  <br />



  <button>Log in</button>
</form>

<img class="brushes" src="/images/brushes.png" />
