<h2> Sign Up </h2>


<div class="sign-up container">
  <div class="row">
    <div class="auth-left col-sm-6">
      <h2>What you get</h2>
      <hr />
      <ul>
        <li>- Create your own DIY projects</li>
        <li>- Browse through hundreds of projects</li>
        <li>- Follow other users and their projects</li>
        <li>- Save your favorite projects for later</li>
      </ul>
    </div>

    <div class="auth-right col-sm-6">
      <h2>Get Started</h2>
      <hr />
      <form class="form" action="/process-signup" method="post">
        <label for="email-input">Email</label>
        <input id="email-input" name="signupEmail" type="email"
          placeholder="example@idiy.com"/>
        <br />
        <label for="password-input">Password</label>
        <input id="password-input" name="signupPass" type="password"
          placeholder="*******"/>
        <br />

        <button>Sign Up</button>
        <!-- ADD FACEBOOK/GOOGLE ICONS IN BUTTON -->
        <button id="facebook"><a href="/auth/facebook">Login with Facebook</a></button>
        <button id="google"><a href="/auth/google">Login with Google</a></button>
      </form>
    </div>
  </div>
</div>

<img class="splash" src="/images/splash.jpg"/>
